.btn {
background-color: black;
color: white;
border-radius: 0rem;
border: 0;
font-size: 0.6em;
padding: 4px 8px 4px 8px;
}

.show_more_text,.show_less_text{
background-color: black;
    color: white;
    border-radius: 0rem;
    border: 0;
    font-size: 0.6em;
    padding: 4px 8px 4px 8px;
text-decoration:none;
}

.show_more_text:hover,.show_less_text:hover{
color:white;
}

.picostrap-read-more-link {
font-size: 0.7em;  
}

