
#carouselLogos .carousel,
#carouselLogos .carousel-item,
#carouselLogos .carousel-item > div {
  height: 100%;
}

#carouselLogos .carousel-item:nth-child(2) .carousel-caption-wrapper > div:first-child,
#carouselLogos .carousel-item:nth-child(2) .carousel-caption-wrapper > div:last-child {
	background-color: rgba(106, 93, 109, 0.65) !important;
}

#carouselLogos .carousel-item:nth-child(3) .carousel-caption-wrapper > div:first-child,
#carouselLogos .carousel-item:nth-child(3) .carousel-caption-wrapper > div:last-child {
	background-color: rgba(41, 51, 69, 0.65) !important;
}

#--carouselLogos .carousel-item:nth-child(even) .carousel-caption-wrapper > div:first-child {
  order: 3;
}
#--carouselLogos .carousel-item:nth-child(even) .carousel-caption-wrapper > div:nth-child(2) {
  order: 2;
}
#--carouselLogos .carousel-item:nth-child(even) .carousel-caption-wrapper > div:last-child {
  order: 1;
}

#carouselLogos .carousel-item:nth-child(even) .carousel-caption-wrapper .carousel-caption-content {
  left: 100px !important;
}

#carouselLogos .carousel-item .carousel-caption-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
}
#carouselLogos .carousel-item.active .carousel-caption-wrapper .carousel-caption-content {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation-delay: 1s;
}
#carouselLogos .carousel-item:not(.active) .carousel-caption-wrapper > div:first-child,
#carouselLogos .carousel-item:not(.active) .carousel-caption-wrapper > div:last-child {
  opacity: 0;
}
#carouselLogos .carousel-item.active .carousel-caption-wrapper > div:first-child,
#--carouselLogos .carousel-item.active:nth-child(even) .carousel-caption-wrapper > div:last-child {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 0.5s;
}
#carouselLogos .carousel-item.active .carousel-caption-wrapper > div:last-child,
#--carouselLogos .carousel-item.active:nth-child(even) .carousel-caption-wrapper > div:first-child {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 0.65s;
}

.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-12-4 18:22:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-12-4 18:27:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2021-12-4 20:2:59
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}