.purple {
background-color: rgba(106, 93, 109, 0.65) !important;
}
.beige {
background-color: rgba(205, 196, 193, 0.65) !important;
}
.blue {
background-color: rgba(196, 218, 229, 0.65) !important;
}
.darkblue {
background-color: rgba(41, 51, 69, 0.65) !important;
}
.oak {
background-color: rgb(234, 233, 229, 0.65) !important;
}
.green {
background-color: rgba(89, 115, 109, 0.65) !important;
}