
/* ============ ADD HERE YOUR CUSTOM SCSS or  plain CSS CODE. ============ 

HOW DOES IT WORK?

    Edit this file, save, 
    view page as admin:
    The style will be AUTOMATICALLY recompiled and 
    your new CSS bundle will be reloaded via ajax to show 
    the new styling edits.

NOTICE for beginners: 

    CODE HERE YOUR MASTERPIECE, but before that, if you haven't yet,
    please take your time to understand and study how Bootstrap works.
    It can save you a lot of time,
    eg. to standardize project colors, or fully customize typography.
    First of all, have a ride in the WordPress Customizer.
    Then learn to use Bootstrap 4 Classes and utilities.
    If you come from the CSS world, take some time to study the basic of SASS. It's very powerful.
    With great powers...you are warned

HOW TO REFERENCE ASSETS AND IMAGES 
    [BREAKING NEWS] The generated CSS bundle is now called from the Theme folder 
    so relative paths work as expected on a standard WordPress Theme.
    So it's not like before.

 
************************************************		*/
//a demo statement - uncomment to see page turn red and blush
//body { background: red; opacity: 0.3;} 

//open menus on hover
//.dropdown:hover>.dropdown-menu { display: block;}
