

h1,
h2,
h3 {
margin: 0;
padding: 0;
font-size: 1em !important;
}

h1{font-size:1.4em !important;
	font-weight:300;
	margin-bottom:16px}


h2 {
font-size: 1.3em !important;
font-weight: 300;
margin-bottom: 16px
}


h3 {
font-size: 1.1em;
margin-bottom: 10px
}





.news-listitem H2 a {
text-decoration: none;
color: #FFFFFF;
font-size: 0.8em;
font-weight: 600
}

.people-listitem H2 {
margin-top: 18px
}

.news-listitem H2 {
text-align: left;
min-height:76px;
}
