.hero-sticky {
 background-color: rgba(0,0,0,0.45);
 position: absolute;
 bottom: 0px;
 z-index: 1;
 max-width:100%;
 margin-left:0;
 margin-right:0;
width:100%;
padding:0;
min-height:300px;
overflow:hidden;
}

.hero-sticky-top {
background-color: rgba(0, 0, 0, 0.45);
position: absolute;
top: 0px;
xheight: 100%;
z-index: 1;
max-width: 100%;
margin-left: 0;
margin-right: 0;
width: 100%;
}


.single-post .section-sticky, 
.single-blog .section-sticky {
height: auto;
}

.single-post .hero-sticky-top, 
.single-blog .hero-sticky-top{
position:static
}

.section-sticky img {
    z-index: 1;
    width:100%;
}

body:not(.home) .section-sticky img{
position: fixed;
z-index: -1;
max-width: 1480px;
}


