
@media only screen and (max-width: 767px) {
.section-sticky-medium{
height: auto;
}
	
.hero-sticky, body:not(.home) .section-sticky img, .hero-sticky-top{
position: relative;
}
	
body:not(.home) .section-sticky img{
margin-top: 0px!important;
}
.hero-sticky .mt-6, .hero-sticky .mb-4{
margin-bottom: 0px!important;
margin-top: 0px!important;
padding-top: 4.5rem;
}
.section-sticky-small {
    height: auto;
}
}