.livecanvas-is-editing .hero {
margin-top:-800px !important;
}

.livecanvas-is-editing .hero::before {
display: none;
}

.livecanvas-is-editing .hero{position:none !important
}

.livecanvas-is-editing .hero-sticky-top {
top: 20px !important
}

.hero-sticky-top {
background-color: rgba(50, 50, 50, 0.35);
}

.experience p a {
color: #000000 !important
}



.legl-button {
background-color: black !important;
font-size: 10px !important;
font-weight: 300 !important;
padding: 2px 11px 0px 11px !important;
margin-right: 15px;
margin-top: 6px;
border-radius: 0px !important;
}

.related a {
color: #000000 !important
}

ul li {
width: 85%;
margin-bottom: 12px;
margin-bottom: 11px;
line-height: 1.4em;
}

OL {
font-size: 0.8em;
}

OL LI {
margin-bottom: 12px
}

li.menu-item {
width: 100%;
margin-bottom: 0px;

}

.menu-item-has-children.dropdown {
xpadding-top: 12px !important;
}


.white-background p a {
color: #000000 !important
}
@media (min-width: 1200px) {

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
max-width: 1290px;
}
}

.text-dark {
color: #121212 !important
}


@media (min-width: 992px) {

.container,
.container-sm,
.container-md,
.container-lg {
max-width: 100%;
}
}





.show-more-text-box a {
color: white !important
}

p a {
color: white !important;
}

.btn {

padding: 6px 8px 6px 8px !important;
font-size: 9px !important;
}


.people-main-intro {
font-size: 1.4em;
font-weight: 300;
line-height: 1.4em;
}


.news-listitem .excerpt p:first-child {

min-height: 40px !important;
margin-bottom: 0 !important;

}


.hero-sticky {
min-height: 0px;
}

.wplpui-load-more-btn {

background-color: black;
color: white;
border-radius: 0rem;
border: 0;
font-size: 0.6em;
padding: 6px 8px 6px 8px !important;
}



section {
padding: 70px 0 70px 0;
}

.oak {
background-color: rgba(255, 255, 255, 0.9) !important;
}



p {
margin-bottom: 26px !important;
line-height: 1.5em;
font-size: 0.8em !important;

}


.news-listitem {
padding: 28px
}

.news-listitem .text-right {
margin-bottom: 0px !important
}



.fadeinQuick {
-webkit-animation: fadeIn 500ms ease-in-out;
/* Chrome, Safari, Opera */
animation: fadeIn 500ms ease-in-out;
}


H2 {

letter-spacing: 1.1px;
font-weight: 500 !important;
font-size: 24px !important;
xtext-transform: uppercase
}

H3 {

font-size: 16px !important;
font-weight: 500;
text-transform: uppercase;
margin-bottom: 24px;
font-weight: 500;
text-transform: uppercase;


}

H4 {
font-weight: 500;
font-size: 14px !important;
margin-bottom: 14px;
line-height: 1.4em;
}


H4 a {
text-decoration: none;
}

.news-listitem span {

font-weight: 600;
}


.lead {
font-size: 19px !important;
font-weight: 200 !important
}

.show_more_text,
.show_less_text {
background-color: black;
color: white;
border-radius: 0rem;
border: 0;
font-size: 0.6em;
padding: 4px 8px 4px 8px;
text-decoration: none;
border: 0;
}



.show_more_text:hover,
.show_less_text:hover {
color: white;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes fadeIn {
0% {
opacity: 0;
-webkit-transform: translateY(-40px);
}

100% {
opacity: 1;
-webkit-transform: translateY(0);
}
}

/* Standard syntax */
@keyframes fadeIn {
0% {
opacity: 0;
transform: translateY(0px);
}

100% {
opacity: 1;
transform: translateY(0);
}
}







.single-post a {
color: #FFFFFF
}


ul {
font-size: 0.8em;
}


.news-listitem {
font-size: 1em;
padding: 30px !important;
}

.section-sticky {
height: 460px;
position: relative;
padding-top: 0px;
}

.page-id-778 .section-sticky {
height: 670px;
}

#search-container.mobile_only {
margin-left: 25px;
margin-top: 10px;
justify-content: flex-start;
}

@media only screen and (max-width: 767px) {
.section-sticky {
height: auto;
padding-bottom: 0;
}

}

.hero-sticky {
height: auto;
}

.social-media-list {
margin-left: -4px;
padding: 0;
}


.xlivecanvas-is-editing .section-sticky img {
position: static !important;
z-index: 0 !important;
max-width: 1480px;
}





header#lc-header {
position: fixed;
width: 100%;
z-index: 9;
max-width: 1480px;
background-color: white;
}

main#theme-main {
padding-top: 136px;
}

body .dropdown-menu LI,
body .dropdown-menu LI .dropdown-menu LI {
height: auto;
}

ul.dropdown-menu.show li:first-child {
margin-top: 9px;
}

body .dropdown-menu.submenu.show li:first-child {
margin-top: 0px;
}

body:not(.home) .section-sticky .hero-sticky img {
position: relative;
}
body:not(.home) .section-sticky .hero-sticky .carousel-item img {
    position: absolute;
}
body.page-id-614 .section-sticky img {
position: fixed;
}

.page-id-614 .hero-sticky {
position: absolute;
}

.page-id-614 .hero-sticky {
margin-top: -400px;
}

body .navbar {
padding: 0px;
}

.menu-item-has-children.dropdown {
padding-top: 10px;
padding-bottom: 10px;
}

.dropdown-menu .menu-item-has-children.dropdown {
padding-bottom: 0px;
padding-top: 0px;
}

.dropdown-menu .dropdown-toggle {
background-color: #6a5e6d;
}

.dropdown-menu .dropdown-toggle:hover {
background-color: white;
}

.dropdown-menu {
top: 27px;
}

.page-type-2 .hero-sticky-top,
.page-type-2 .hero-sticky {
position: relative;
}

.page-type-2.section-sticky {
height: auto;
padding-bottom: 0px;
}

.row {
margin-left: 0;
margin-right: 0;
}

body .color_bk,
body .color_bk a {
color: #000000 !important;
}

body .excerpt.color_bk a {
color: #ffffff !important;
}

#carouselLogos .carousel-item:nth-child(even) .carousel-caption-wrapper .carousel-caption-content {
left: 22% !important;
}

.home_sec_service .container .container {
padding-left: 0px;
margin-left: -6px;
}
#carousel_testimonial .carousel-item{
transition:ease-out;
}
#carousel_testimonial .carousel-item.active .left-side-wrap{
-webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: 0.5s;
}
body .carousel-control-prev,
body .carousel-control-next {
width: unset;
}

.carousel-control-prev {
left: 30px;
}

.carousel-control-next {
right: 30px;
}

.page-id-3981 .col-sm-12 {
color: black;
}

.page-id-3981 main#theme-main {
padding-bottom: 50px;
background-color: white;
}

.post_container,
.blog_container {
display: none;
}

body .show {
display: block;
}

.flex {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.tablinks {
color: white;
background-color: #85898a;
height: 38px;
width: 72px;
margin-right: 1px;
font-size: 12px;
}

.tablinks.active {
background-color: #6a5e6d;
}

.tablinks:hover {
background-color: #6a5e6d;
}

.btn.tablinks:hover {
color: white;
}

.search-result-title {
font-weight: 400;
}

.search_btn {
width: 90px;
}

.search_btn:hover {
background-color: #6a5e6d;
}

.highlight {
background-color: #009fd6;
color: white;
}

.search-stats {
color: black;
}

.main_search_w #main_search-container {
width: 65%;
}

.tab {
width: fit-content;
}

.more_link {
color: white;
text-decoration: none;
}

.more_link:hover {
color: white;
}

html:not(.no-js) .page-id-668 [data-aos^=fade][data-aos^=fade].aos-init {
opacity: 1;
}

.page-id-668 [data-aos].aos-init {
pointer-events: auto;
}

#search-container {
display: flex;
justify-content: center;
}

.wplpui-filter.wplpui-filter-3952 {
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
margin-bottom: 50px;
padding: 0px 8.4px;
}

.wplpui-filter-searchbox {
width: 30%;
border: 1px solid black;
border-right: none;
}

.wplpui-filter-taxonomy.wplpui-filter-taxonomy-category {
width: 36%;
border: 1px solid black;
}

.wplpui-filter-taxonomy select {
font-size: 13px;
height: 100%;
}

button.wplpui-search-list-btn {
width: 120px;
background-color: black;
color: white;
border: 1px solid black;
}

button.wplpui-search-list-btn:hover {
background-color: #6a5e6d;
color: black;
}

.prev_next_w a {
display: block;
padding: 5px;
color: black;
text-decoration: none;
background-color: white;
border: 1px solid black;
width: fit-content;
}

section.person-posts {
position: relative;
}

.page-id-614 .carousel-item {
min-height: 180px;
}

.home .section-sticky img {
min-height: 400px;
}

.main_menu {
background-color: #6a5e6d;
}

#carousel_testimonial .carousel-item.active .carousel-caption-wrapper>div:first-child {
animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
animation-delay: 0.5s;
}

#carousel_testimonial .carousel-item.active .carousel-caption-wrapper>div:last-child {
animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
animation-delay: 0.65s;
}

#carousel_testimonial .carousel-item:not(.active) .carousel-caption-wrapper>div:first-child,
#carousel_testimonial .carousel-item:not(.active) .carousel-caption-wrapper>div:last-child {
opacity: 0;
}

#carousel_testimonial .carousel-item.active .carousel-caption-wrapper .carousel-caption-content {
-webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
animation-delay: 1s;
}

#carousel_testimonial .carousel-item.active .carousel-caption-wrapper .carousel-caption-inner-wrap {
opacity: 0.65 !important;
}

.page-id-614 .section-sticky {
height: 400px;
}

.page-id-614 .section-sticky img {
min-height: 400px;
}

.mobile_only {
display: none !important;
}

@media only screen and (max-width: 991px) {
.hidden_t {
display: none;
}

.mobile_only {
display: flex !important;
}

.desktop_only {
display: none !important;
}
}

@media only screen and (max-width: 768px) {
.carousel-item .lead {
width: 70% !important;
}

.carousel-caption-content {
left: 15% !important;
top: 120px !important;
}

#carouselLogos .carousel-item:nth-child(even) .carousel-caption-wrapper .carousel-caption-content {
left: 15% !important;
}

.carousel-control-next {
right: 20px;
}

.carousel-control-prev {
left: 20px;
}

body.home .carousel-control-next,
body.home .carousel-control-prev {
top: 200px !important;
}

.carousel-caption-content h4 {
width: 70%;
text-align: center;
}

.home .hero-sticky-top {
position: absolute !important;
}

.carousel-caption-content .lead {
text-align: justify;
}

.main_search_w #main_search-container {
width: 100%;
margin-bottom: 30px;
}

a {
word-break: break-word;
}

.page-id-614 .carousel-item {
min-height: 250px;
}

.header_search_w {
position: absolute;
right: 35px;
}

.header_search_w form button {
background-color: #6a5e6d;
margin-left: 10px;
}

.header_search_w form #search-input {
border-radius: 3px;
}

.testimonial {
position: absolute;
}

}

@media only screen and (max-width: 480px) {
.carousel-caption-content {
top: 60px !important;
}

.home .section-sticky img {
height: 400px;
}

.home .section-sticky {
height: 300px !important;
}

#carouselLogos .carousel-item:nth-child(even) .carousel-caption-wrapper .carousel-caption-content {
left: 15% !important;
}

.carousel-caption-content {
left: 15% !important;
}

body.home .carousel-control-next,
body.home .carousel-control-prev {
top: 156px !important;
}

.wplpui-filter.wplpui-filter-3952 {
flex-direction: column;
}

.wplpui-filter-searchbox {
width: 100%;
border-right: 1px solid black;
}

.wplpui-filter-taxonomy.wplpui-filter-taxonomy-category {
width: 100%;
}

button.wplpui-search-list-btn {
width: 100%;
margin-left: 0px;
}

.page-id-614 .carousel-item {
min-height: 290px;
}
}

#enquiry_form .wpforms-field-label {
color: #000;
}

#carouselExampleIndicators .carousel-item {
padding: 80px;
}

.connection-map-seqps {
filter: grayscale(1);
}

/*Carousel Navigation changes start*/
.carousel-control-prev-icon {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23333'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
}

.carousel-control-next-icon {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23333'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.people-listitem span {
    display: block;
    font-weight: 500 !important;
}



.carousel-indicators [data-bs-target] {
background-color: #333;
}

/*Carousel Navigation changes end*/
.connection-map-seqps {
/* filter: grayscale(1); */
}
