.dropdown-toggle::after{
display:none
}

.menu-item-has-children: {
color: #000000 !important
}

#menu-primary {
margin-top: -13px;
margin-left: -10px
}

#menu-primary LI a:hover {
color: #FFFFFF
}

#menu-primary li span{
	font-size:10px !important
	}


#menu-secondary {
flex-direction: row;
margin-top: -7px
}

#menu-secondary LI span {
padding: 0 10px 0 10px;
border-right: 1px solid
}

.dropdown-menu {
background-color: #6a5e6d;
width: 200px;
padding: 0px;
top: 16px;
border: 0;
}


.navbar {
    padding-top: 0.7rem;
     padding-bottom: 0; 
}


.nav-link {
color: #FFFFFF;
text-transform: uppercase;
font-size: 0.7em;
height:100%;
}

.navbar .nav-link {
padding: 0px;
}

.navbar-nav {
    margin-left: -8px;
}



.dropdown-menu LI {
line-height: 0.8em;
height: 42px;
padding: 14px 0 4px 0
}

.dropdown-menu .submenu {
background-color: #454545
}

.dropdown-menu .submenu LI {
padding: 4px 0 4px 0
}


.dropdown-menu LI a{
padding:15px 0 14px 0!important;
}



.dropdown-menu LI a:hover {
color: black !important
}

.dropdown-menu LI,.dropdown-menu LI .dropdown-menu LI {
height: 42px;
padding-top:0;
line-height: 0.7em;
}


