

@media only screen and (max-width: 991px) {
.navbar-toggler-icon {
display: inline-block;
cursor: pointer;
}
.bar1, .bar2, .bar3 {
width: 32px;
height: 5px;
    background-color: #ffffff;
    margin: 5px 0;
    transition: 0.4s;
}
.bar1{
margin-top: 2px;
}
.navbar-toggler:not(.collapsed) .bar1 {  
transform: rotate(-45deg) translate(-7px, 6px);
}
.navbar-toggler:not(.collapsed) .bar2 {opacity: 0;}
.navbar-toggler:not(.collapsed) .bar3 {  
transform: rotate(45deg) translate(-8px, -8px);
}
    .dropdown-menu LI, .dropdown-menu LI .dropdown-menu LI{
        height: auto;
    }
.dropdown-menu LI{
padding-left: 15px;
}
    .navbar-nav{
        margin-left: 0px;
        padding-left: 0px;
    }
    .navbar-collapse.show {
        background-color: #6a5e6d;
z-index: 2;
    }
    .navbar{
        padding-top: 0;
    }
    .dropdown .dropdown-menu, .navbar .dropdown-menu{
        box-shadow: none;
    }
    .dropdown-menu LI a {
        padding: 0;
        line-height: 22px;
    }
    #menu-primary li span{
        line-height: 24px;
    }
    
    .navbar-toggler {
        padding: 0.2rem 0.75rem;
        border: none;
    }
.dropdown-menu LI a{
padding: 0!important;
}
.menu-item {
    padding-left: 15px;
}
.dropdown-menu .submenu {
    background-color: transparent;
}
.navbar-toggler:focus{
box-shadow: none;
}
.dropdown-menu{
width: auto;
}
}
