.news-listitem {
min-height: 320px;
Padding: 24px;
font-size: 0.7em;  
margin-bottom: 16px;
cursor: pointer;
  opacity: 0.9;
}

.news-listitem:hover{
cursor: pointer;
   opacity: 0.8;

}

.news-listitem H2 a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 0.8em;
    font-weight: 400;
}


.news-listitem h2 a:hover{
text-decoration:underline
}


.news-listitem header{
min-height:130px
}

.news-listitem .excerpt {
margin-top: 14px
}


.news-listitem .excerpt p:first-child {
 position:relative;
top:-16px;
min-height:80px
}


.news-listitem .excerpt .text-right{
margin-bottom:0;
}


.news-listitem span {
display: block;
text-align: left;
color: #000000;
font-weight: 300
}


.news-listitem .picostrap-read-more-link {
background-color: black;
color: white;
border-radius: 0rem;
border: 0;
font-size: 0.6em;
padding: 4px 8px 4px 8px;
}

.post-item {
margin-top: 0rem;
margin-bottom: 3em;
margin: 0
}

.post-item * {
color: #FFF;
font-weight: 300;
margin-top: 0
}

.post-item H2 {
font-size: 1rem;
margin-top: 30px
}

.post-item P {
padding-bottom: 3px;
margin-bottom: 3px;
font-size: 0.8em
}










