span {
line-height:1.4em;
font-size: 0.9em !important;
}

p{
margin: 0;
padding: 0;
line-height:1.4em;
font-size:0.9em !important;
margin-bottom:25px;
}


p.lead{font-size:19px}

.small {
font-size: 0.7em !important;
}
