.people-listitem {
margin-top: 24px
}

.people-listitem span a,
.people-listitem H3 a {
text-align: center;
color: #FFFF;
text-decoration: none;
text-transform: uppercase;
;
font-weight: 500;
font-size: 11px
}

.people-listitem img {
margin-bottom: 15px
}


.people-listitem img:hover {
         opacity: 0.9;
      filter:alpha(opacity=60);
    }

.people-listitem span {
display: block;
font-weight: 200;
white-space: inherit;
text-overflow: ellipsis;
}


.people-listitem .role{
font-weight:500;margin-bottom:0px
}


 




