body {
color: #FFFFFF !important;
max-width: 1480px;
margin: 0 auto
}

table tr td{
font-size:0.7em;
padding:0 10px 0 0;
font-weight:600
}


strong{font-weight:700}

select {
-webkit-appearance: none; 
-moz-appearance: none;
appearance: none;

-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
background: url(http://dropdown/arrow/url/) no-repeat;
background-position: right center;
background-color: white;
color: #000000;
border: 1px solid #000000;
padding-left:8px

}

.row {
--bs-gutter-x: 2.1rem;
--bs-gutter-y: 0;
}

.row>* {
    padding-right: calc(var(--bs-gutter-x) / 4);
    padding-left: calc(var(--bs-gutter-x) / 4);
}

.hidden {
display: none
}


section {
padding: 68px 0 68px 0
}


.header-logo {
margin: 24px 0 68px 0;
 background-color: white;
}

.bg_white{
background-color: white;
}


.social-media-list{
list-style-type:none;margin-left:0;padding-left:0;}


main section:not(:first-child) {
    background-color: white;
}

