
@media only screen and (min-width: 992px) {
.offset-lg-2 {
    margin-left: 12.6666666667%;
}
}


@media only screen and (min-width: 768px) {
#lc-header {
    position: fixed;
    width: 100%;
z-index: 2
}
main#theme-main {
    padding-top: 172px;
}
}
