
.search-bar {
    padding: 0;
    background: transparent;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

input#ss {
    height: 36px;
    width: 34%;
    margin-right:6px;
      font-size: 14px;
}


button.staff-search-button {
    display: inline-block;
    background: black;
    border: none;
    padding: 0px 15px;
    text-align: center;
    height: 35px;
    line-height: 35px;
    color: #fff;
    transition: all .3s ease-out;
    font-weight: 300;
    font-size:13px
}
.search_result_w {
    margin:0;
}

.search_result {
    color: #FFFFFF;
    margin-bottom:30px;
    margin-top:30px;
    display:block;
    
}



select#department-search {
    height: 36px;
     margin-right:6px;
       font-size: 11px;
     height: 36px;
width:26%
}



::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
font-size:11px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

::-moz-placeholder { /* Firefox 19+ */
  color: white;
font-size:13px;
}
:-ms-input-placeholder { /* IE 10+ */
 color: white;
font-size:13px;
}
:-moz-placeholder { /* Firefox 18- */
 color: white;
font-size:13px;
}

.text-line {
        background-color: transparent;
        color: #FFFFFF !important;
        outline: none;
        outline-style: none;
        outline-offset: 0;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid #eeeeee 1px;
        padding: 3px 10px;
    }



